.gallery {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.photos{
    display: flex;
    justify-content: center;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about img {
    width: 50%;
}

.galleryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.slider {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.613);
    z-index: 999;
    display: flex;
    align-items: center;
}

.sliderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderImg {
    width: 80%;
    height: 80vh;
}

.bakeImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bakeImgWrapper {
    width: 33%;
}

.bakeImg {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.slider {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.613);
    z-index: 999;
    display: flex;
    align-items: center;
}

.sliderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderImg {
    width: 80%;
    height: 80vh;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
}

.arrow {
    margin: 20px;
    font-size: 50px;
    color: lightgray;
    cursor: pointer;
}